li .poiOpenClosed {
	font-weight: normal;
	font-style:italic;
}

#poicatlist .ui-li-icon {
	position:absolute;
	top:50%;
	margin-top:-19px;

	/* Orig image has size 64x78px */
	min-width: 2.05em;
	min-height: 2.5em;
	
}

#poicatlist .ui-li-heading {
	margin-left: 1.5em;
	white-space:normal;
}
