<script type="text/template" id="eventCategoryListTemplate">
  <div data-role="page" id="eventCatList">

    <div data-role="header" data-theme="f">
      <h1>Evenemang</h1>
    </div>

    <div data-role="content">
      
      <ul data-role="listview" class="article" data-inset="true" data-split-icon="info">
        <li data-icon="false"><a data-transition="slide" href="#events/search-results//<%=catAllId%>//<%=today%>/<%=today%>">Idag</a></li>
        <li data-icon="false"><a data-transition="slide" href="#events/search-results//<%=catAllId%>//<%=tomorrow%>/<%=tomorrow%>">Imorgon</a></li>
        <li data-icon="false"><a data-transition="slide" href="#events/search">Sök</a></li>
      </ul>
      
      <ul data-role="listview" class="article" data-inset="true" data-filter-theme="d" data-split-icon="info">
        <% _.each(categories, function (category) { %>
          <li><a data-transition="slide" href="<%= category.url %>"><%= category.label %></a></li>
        <% }); %>
      </ul>
      
    </div>
  </div>
</script>


<script type="text/template" id="eventListTemplate">
  <div data-role="page" id="eventList">

    <div data-role="header" data-theme="f">
      <a href="#events" class="ui-btn-left" data-icon="arrow-l" data-transition="slide" data-direction="reverse">Evenemang</a>
      <h1></h1>
    </div>

    <div data-role="content">
      <a class="ui-btn-right" data-icon="search" data-transition="slide" data-iconpos="notext" href="#events/search">Sök</a>
      <% if(events.length < 1) { %>
        <li>Inga evenemang matchar ditt val. <a href="#events/search">Försök igen.</a></li>
    
      <% } else { %>
        <ul data-role="listview" id="eventlist" data-inset="true" data-filter-theme="d" data-split-icon="info">
            <% _.each(events, function (event) { %>
              <li><a data-transition="slide" href="<%= event.url %>">
                <img src="<%= event.imgurl %>" />
                <h2><%= event.title %></h2>
                <p><%= event.location %></p>
              </a></li>
            <% }); %>
        </ul>
      <% } %>
      
      <a data-role="button" data-mini="true" data-icon="arrow-d" id="more-results-<%=catid%>" href="#">Visa fler</a>    
    </div>
  </div>
</script>


<script type="text/template" id="eventTemplate">
  <div data-role="page" id="eventItem">
    <div data-role="header" data-theme="f">
      <a href="#events/category/<%= catid %>" class="ui-btn-left" data-icon="arrow-l" data-transition="slide" data-direction="reverse">Evenemang</a>
      <h1></h1>
      

    </div>

    <div data-role="content" class="event-content">
      <a class="ui-btn-right" data-icon="search" data-transition="slide" data-iconpos="notext" href="#events/search">Sök alla</a><br /><br />
      <%= event %>
    </div>
  </div>
</script>


<script type="text/template" id="searchTemplate">
  <div data-role="page" id="eventSearchItem">
    <div data-role="header" data-theme="f">
      <a href="" data-rel="back" class="ui-btn-left" data-icon="delete" data-transition="slideup" data-direction="reverse" data-iconpos="notext">Tillbaka</a>    
      <h1>Sök evenemang</h1>
      <a class="ui-btn-right" data-icon="search" data-transition="slide" id="event-search-btn" href="">Skicka</a>
    </div>

    <div data-role="content" id="event-search-form">
      <%=searchform%>
    </div>
  </div>
</script>

